<!-- PRICING SECTION -->
    <div class="section" id="about_pic">
        <div class="container">
            <div class="row main-low-margin">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                    <h2> Why we're here<h2>
                    <h5>This era is characterized by the collection of massive amounts of information in various domains ranging from science to technology to commerce to national defense and telecommunications. The magnitude of such data deluge can also be portrayed by noting that every minute more than 100 hours of video are uploaded onto YouTube; more than 200,000 photos are uploaded onto Facebook; 100,000 tweets are sent to Twitter; and there are 2M Google search requests. <br>
                        Additionally IoT (Internet of Things) i.e. digitization of the physical world is projected to add approximately 26 billion objects to the Internet by 2020 according to a recent report by a business consultancy firm Gartner. These objects will create an ever-growing datasets. <br>
                    It is widely acknowledged that the effective use of such amounts of Big Data has the potential to transform not only science with expectations surging for new scientific discoveries pinned on emerging massive collections of biological, chemical, physical, and social data but also economies by delivering a new wave of productivity growth and consumer surplus enabled via more adaptive, personalized and robust technology. <br>

                    However, with the trends in growth in data worldwide due to increase substantially over the coming years, from 1.2 ZB in 2010 to 8.5 ZB in 2015 to 44 ZB in 2020 one is confronted with major interrelated information bottleneck challenges.

                    Today’s Information Technology (IT) infrastructure without radical changes to the way one collects, analyzes and processes information will not be able to keep up with the current pace of data growth in view of fundamental limitations in transmission, storage and computation capability (cf. Kryder’s Law, Moore’s Law). It’s further argued that big data may just be too big to enable the extraction of meaningful, reliable and actionable information to support decision-making (within a useful time span). <br>

                    The goal of this research project is to develop a big data processing pipeline that leverages recent advances in big data inference algorithms and software systems with a view to integrate in cloud-type of environments.

                    </h5>
                </div>
            </div>


        </div>
    </div>

    <div class="container">

        <div class="row main-low-margin ">

        </div>
        <div class="row main-low-margin text-center">
            <div class="col-md-4 col-sm-4">
                <div class="circle-body"><i class="fa fa-external-link-square fa-5x  icon-set"></i></div>
                <h3>Choose Required Info.</h3>
                <p>
                    Users choose between a predefined news source APIs and the required information from the sources. 
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="circle-body"><i class="fa fa-mixcloud fa-5x  icon-set"></i></div>
                <h3>Perform Sentimental Analysis</h3>
                <p>
                    Big data algorithms run on the chosen newsource to perform sentimental analysis and generate the relevant insights. 
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="circle-body"><i class="fa fa-line-chart fa-5x  icon-set"></i></div>
                <h3>Generate Relevant Insights</h3>
                <p>
                    Display relevant insights through charts and graphs. We'll also compare the generated data-insight with the actual data
                </p>
            </div>

        </div>
    </div>
    <div class="space-bottom"></div>
    <!--FOOTER SECTION -->

    <div id="footer">
        <div class="row"> 
        <p>&copy; www.smartdatabytes.com 2016 <br/>All Rights Reserved!</p>     
        </div>
    </div>

    <!--END FOOTER SECTION -->