<!-- HOME SECTION -->

    <!-- SLIDER SECTION -->
    <div class="videowrapper" id="parent">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nqGQJkhb6qg?wmode=opaque&amp;rel=0&amp;start=16&amp;autoplay=1&amp;loop=1&amp;playlist=nqGQJkhb6qg&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        <div id="overlay">
                        <h2> BIG DATA<br>PROCESSING PIPELINE </h2>
                        <h4>We perform sentimental analysis on your choice of data 
                            <br /> so as to gain interesting insights from your diverse 
                            <br/> range of datasets <br />
                            <a href="about.html"><i class="fa fa-hand-o-right fa-2x">See More</i></a>
                        </h4>
        </div>
    </div>
    <!-- END SLIDER SECTION -->

    <div class="container">
        <div class="boxed">
            <a href="products.html"> <h2>RECENT PROJECTS </h2></a>
        </div>
        <div class="row main-low-margin text-center">
            <div>
                <div class="circle-body"><i class="fa fa-line-chart fa-5x  icon-set"></i></div>
                <h3>PREDICT ENERGY USAGE</h3>
                <p>
                    The UK Department of Transport Headquarters &amp; 10 Downing Street provide real time data sets on their Electricity and Natural gas consumption. These datasets could be used to forecast of the energy consumption thus being able predict the energy budgets.
                </p>
            </div>

        </div>
        <div class="row main-low-margin text-center">
            <div>
                <div class="circle-body"><i class="fa fa-area-chart fa-5x  icon-set"></i></div>
                <h3>STOCK PRICE CHANGES</h3>
                <p>
                    SmartDatabytes enables you to choose a desired stock price of a tech giants like Google, Apple, Facebook, Twitter.. &amp; perform sentimental analysis of the frequency of good / bad news with respect to time to changes in each companies fluctuation in share price
                </p>
            </div>

        </div>
    </div>
    <div class="space-bottom"></div>
    <!--END HOME -->
    <!--FOOTER -->

    <div id="footer">
        <div class="row"> 
        <p>&copy; www.smartdatabytes.com 2016 <br/>All Rights Reserved!</p>     
        </div>
    </div>


    <!--END FOOTER -->