<div class="section">
    <div class="container">
        <div class="row main-low-margin text-center">
            <div class="col-md-12 col-sm-3 text-center">
            	<h2>here</h2>
                 <div class="center-divv" id="chart-home2-month"></div> 
                <div class="center-divs" id="chart-home2-hitsperday"></div>
            	<!--<div class="center-divv" id="chart-product-month"></div> --> 
               <!--  <div class="center-divs" id="chart-product-hitsperday"></div> -->
            	<!--table id ="time">
                <thead>
                    <tr>
                        <th class="header">Select Start Date &amp; Time:</th>
                        <th class="header">Select End Date &amp; Time:</th>
                    </tr>
                </thead>
              <tr>
                <td><input type="datetime-local" id = "start_time" value="2016-01-01T09:30" /></td> 
                <td><input type="datetime-local" id = "end_time" value="2016-01-01T12:30" /></td>
                <td><button class ="myButton" onclick='datenow()' >Enter</button></td>
              </tr>
              
            </table-->
            </div>
        </div>
    </div>
</div>