<div class="section">
    <div class="container">
        <div class="row main-low-margin text-center">
            <div class="col-md-12 col-sm-3 text-center">
                <h1 id="h1_product">OUR PRODUCTS</h1>
                <h4 id="h4_product">Our platform was built to perform sentimental analytics on a variety <br />
                    of datasets. The platform provides flexible foundation for data infusion<br /> and to perform certain machine learning analysis </h4>
            </div>
            <div class="col-md-6 col-sm-6 text-center">
                <h2>SmartDatabytes</h2>
                <h2><b>ENERGY</b></h2>
              <div class="boxed">
                <a href="/predict/energy"><h3>Predict Energy Usage</h3></a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 text-center">
            <h2>SmartDatabytes</h2>
            <h2><b>STOCK PRICE</b></h2>
              <div class="boxed">
                <a href="/predict/finance"><h3>Predict Stock Price</h3></a>
            </div>
        </div>
        </div>
        </div>
            <!--table id ="time">
                <thead>
                    <tr>
                        <th class="header">Select Start Date &amp; Time:</th>
                        <th class="header">Select End Date &amp; Time:</th>
                    </tr>
                </thead>
              <tr>
                <td><input type="datetime-local" id = "start_time" value="2016-01-01T09:30" /></td> 
                <td><input type="datetime-local" id = "end_time" value="2016-01-01T12:30" /></td>
                <td><button class ="myButton" onclick='datenow()' >Enter</button></td>
              </tr>
              
            </table-->
        </div>
    <div class="space-bottom"></div>
    <!--END ABOUT SECTION -->
    <!--FOOTER SECTION -->

    <div id="footer">
        <div class="row"> 
        <p>&copy; www.smartdatabytes.com 2016 <br/>All Rights Reserved!</p>     
        </div>
    </div>

    <!--END FOOTER SECTION -->