<div class="section">
        <div class="container">


            <div class="row main-low-margin">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                    <h1>About Us</h1>
                    <h5>empty
                    </h5>
                </div>
            </div>


        </div>
    </div>

    <div class="container">
        <div class="row main-low-margin text-center">
            <div class="col-md-4 col-sm-4 text-center">
                <img class="img-circle" src="assets/img/img1.jpg">
                <h3>Person Name</h3>
                <h4>Job Profile Goes Here</h4>
                <p>
                    empty
                </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <img class="img-circle" src="assets/img/img2.jpg">
                <h3>Person Name</h3>
                <h4>Job Profile Goes Here</h4>
                <p>
                    empty
                </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <img class="img-circle" src="assets/img/img1.jpg">
                <h3>Person Name</h3>
                <h4>Job Profile Goes Here</h4>
                <p>
                    empty
                </p>
            </div>

        </div>
        <div class="row main-low-margin ">

            <div class="col-md-8 col-sm-8">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                <p>
                    empty
                </p>
                <p>
                    empty
                </p>
            </div>

            <div class="col-md-4 col-sm-4 text-center">
                <img class="img-circle" src="assets/img/img1.jpg">
                <h3>Founder's Name</h3>
                <h4>Lorem ipsum dolor sit</h4>

            </div>
        </div>
        <div class="row main-low-margin ">
            <div class="col-md-4 col-sm-4 text-center">
                <img class="img-circle" src="assets/img/img2.jpg">
                <h3>Co-Founder's Name</h3>
                <h4>Lorem ipsum dolor sit</h4>
            </div>
            <div class="col-md-8 col-sm-8">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                <p>
                    empty
                </p>
                <p>
                    empty
                </p>
            </div>

        </div>
    </div>
    <div class="space-bottom"></div>
    <!--END ABOUT SECTION -->
    <!--FOOTER SECTION -->

    <div id="footer">
        <div class="row"> 
        <p>&copy; www.smartdatabytes.com 2016 <br/>All Rights Reserved!</p>     
        </div>
    </div>

    <!--END FOOTER SECTION -->